body {
    margin: 0 auto;
    width: 80%;
}

h1 {
    text-align: center;
}

.img-box {
    display: flex;
    justify-content: space-around;
}

img {
    display: block;
    max-height: 25vw;
}

p {
    font-size: 36px;
    text-align: center;
}

button {
    display: block;
    width: 220px;
    height: 30px;
    margin: 5% auto;
    background-color: black; 
    color: white;
    border-radius: 6px;
}

button:hover{
    border: solid 2px silver;
}
