.body {
  max-width: 100vw;
} 

.container {
  margin: 0 auto;
  max-width: 1310px;
  padding-left: 55px;
  padding-right: 55px;
  z-index: 100;
}

a {
  font-family: 'Manrope', 'Arial', sans-serif;
  text-decoration: none;
  outline: none;
}

ul {
  padding: 0;
}

li {
  font-family: 'Manrope', 'Arial', sans-serif;
  list-style-type: none;
}

h1, h2, h3 {
  font-family: 'Playfair Display', 'Times New Roman', Times, serif;
  color: rgb(20, 20, 20)
}

h1 {
  font-size: 4rem;
  line-height: 1;
  margin-right: 2em;
}

h2 {
  font-size: 2.5rem;
  line-height: 1;
}

h3 {
  font-size: 1.6rem;
  line-height: 1;
}

h4 {
  font-size: 1.3rem;
  line-height: 1;
}

.light-blue {
  width: 100%;
  padding: 5% 0;
  background-color: rgb(235, 243, 245);
}

p {
  font-family: 'Manrope', 'Arial', sans-serif;
  font-size: 1.2rem;
  color: rgb(85, 85, 85);
  line-height: 1.5;
}

.blue-header {
  color: rgb(92, 134, 146);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bolder;
}

/*Header*/

.header {
  width: 100vw;
  margin: 0 auto;
}

.header-content {
  width: 95%;
  margin: 1em auto;
  padding: 0;
  display:flex;
  align-items: center;
  background-color: white;
  font-family: 'Manrope', 'Arial', sans-serif;
  font-size: 1.2rem;
}
  
.header .head-name {
  display: inline-block;
  margin-left: 12px;
  margin-right: 1em;
  font-family: 'Playfair Display', 'Times New Roman', Times, serif;
  font-size: 1.8rem;
  font-weight: bold;
  color: rgb(20, 20, 20);
}

.phone-number, .main-logo {
  display: flex;
  align-items: center;
}

.header .phone-number a {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: rgb(20, 20, 20);
}

.header .phone-number a>span {
  align-self: center;
  white-space: nowrap;
  font-size: 1rem;
}

.header .phone-number p {
  margin-left: 1%;
  font-size: 1rem;
  white-space: nowrap;
}

/*Главное меню*/

.menu {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  margin-left: auto;
}

.header .menu li, a {
  color: rgb(85, 85, 85);
}

.menu a {
  font-size: 1rem;
}

.top-menu>li {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  margin: 0 5px;
}

/*выпадающее меню*/

.submenu {
  position: absolute;
  padding-left: 10%;
  padding-right: 5%;
  display: none;
  top: 100%;
  left: -10%;
  z-index: 10;
  transition: 0.5s ease-in-out;
  background-color: white;
}

.menu ul li:hover .submenu {
  display: block;
}

  
.menu2 {
  display: none;
}

/*Иконки*/

.networks-icons {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  margin: 0 1em;
}

.icon {
  margin-right: 1.2em;
}

/*Кнопка в хедере*/

.reservation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  border: none;
  background-color: rgb(122, 156, 165);
}

.reservation>p {
  margin-left: 8px;
  padding-top:2px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
}

/*Основной контент*/

.main {
  width: 100vw;
  margin: 0 auto;
}

  /*Banner*/

.banner {
  box-sizing: border-box;
  margin: 0;
  padding-top: 4em;
  padding-bottom: 3em;
  width: 100%;
  background: linear-gradient( to right, rgb(235, 243, 245) 0%, rgb(235, 243, 245) 55%, rgb(30, 44, 48) 55%, rgb(30, 44, 48) 100%);
}

.banner-content {
  box-sizing: border-box;
  height: 80%;
  display: grid;
  grid-template-columns: 57% 43%;
  grid-template-rows: 10% 10% 1fr 15% 10% 10%;
}

.welcome {
  grid-column-start: 1;
  grid-row-end: 3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.banner-content>h1 {
  grid-column-start: 1;
  grid-row: 3/4;
}

.banner-content>p {
  grid-column-start: 1;
  grid-row: 4/5;
  width: 65%;
}

.banner-button {
  grid-column-start: 1;
  grid-row: 6/7;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 60px;
  background-color: rgb(92, 134, 146);
  font-family: 'Manrope', 'Arial', sans-serif;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
}

.frame1 {
  width: 108%;
  grid-column-start: 2;
  grid-row: 1/6;
  margin-left: -10%;
}

.image1 {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: solid rgb(235, 243, 245) 0.5em;
  border-left: none;
}

.image1>img{
  margin-top: 10%;
  margin-bottom: 10%;
  width: 100%;
  margin-left: -15%;
  box-shadow: -10px 10px 50px 10px rgba(30, 44, 48, 0.4);
}

.vector-welcome {
  margin-right: 0.5em;
}

/*Блок с услугами*/

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  padding: 8rem 0 ;
}

.block1 {
  grid-column: 1/2;
  width: 95%;
  margin-left: 0;
  margin-right: 0;
  justify-self: start;
}

.block2 {
  grid-column: 2/3;
  width: 95%;
  margin-left: 0;
  margin-right: 0;
  justify-self: center;
}

.block3 {
  grid-column: 3/4;
  width: 95%;
  margin-left: 0;
  margin-right: 0;
  justify-self: end;
}

.features img {
  width: 100%;
}
  
.features-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 55px;
  border: solid 2px rgb(92, 134, 146);
  background-color: white;
  font-family: 'Manrope', 'Arial', sans-serif;
  color: rgb(20, 20, 20);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  text-align: center;
}
  
/*Блок о нас*/

.about-box {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 3fr 3fr 3fr ;
}

.about-box .blue-header {
  grid-column-start: 1;
  grid-row: 1/2;
  margin-top: 0;
}

.about-text{
  grid-column-start: 1;
  grid-row-start: 3;
  margin-right: 20%;
  margin-top: 0;
}

.about-box>h2 {
  grid-column-start: 1;
  grid-row: 2/3;
  margin-top: 0;
  margin-right: 4em;
}

.about-cards {
  grid-column-start: 1;
  grid-row: 4/5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20%;
  margin-top: 0;
}

.about-us {
  width: 10.3rem;
  height: 11.3rem;
  border: solid 1px rgb(30, 44, 48);
  background-color: white;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5px;
  margin-right: 5px;
}

.about-us:first-child {
  margin-left: 0;
}

.about-back {
  grid-column-end: 3;
  grid-row: 1/ span 4;
  z-index: 5;
  width: 90%;
  height: 90%;
  margin-left: 10%;
  background-color: rgb(132, 168, 178);
}

.about-box img {
  grid-column-start: 2;
  grid-row: 1/ span 4;
  z-index: 10;
  width: 90%;
  height: 90%;
  margin-top: 10%;
  margin-bottom: 20px;
  box-shadow: -10px 10px 50px 10px rgba(30, 44, 48, 0.4);;
}

.about-us>figure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

/*Блок с ценами*/

.services {
  margin-bottom: 20%;
  padding-top: 5%;
  padding-bottom: 0;
  display: grid;
  grid-template-columns: 45% 1fr 1fr 45% ;
  grid-template-rows: 22% repeat(5, 8%) 4% 4% repeat(5, 8%);
}
.services h2 {
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
}

.services .section-header {
  margin-top: 0;
  padding-top: 0;
  grid-column: 1/5;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dark-blue {
  grid-column: 2/4;
  grid-row: 7/9;
  width: 100%;
  background-color: rgb(30, 44, 48);
}

.price-item1 {
  width: 93%;
  margin-left: 7%;
  grid-column: 3/5;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.price-item2 {
  width: 93%;
  margin-left: 7%;
  grid-column: 3/5;
  grid-row: 3/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.price-item3 {
  width: 93%;
  margin-left: 7%;
  grid-column: 3/5;
  grid-row: 4/5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.price-item4 {
  width: 93%;
  margin-left: 7%;
  grid-column: 3/5;
  grid-row: 5/6;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.price-item5 {
  width: 93%;
  margin-right: 7%;
  grid-column: 1/3;
  grid-row: 9/10;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.price-item6 {
  width: 93%;
  margin-right: 7%;
  grid-column: 1/3;
  grid-row: 10/11;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.price-item7 {
  width: 93%;
  margin-right: 7%;
  padding-right: 10px;
  grid-column: 1/3;
  grid-row: 11/12;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.price-item8 {
  width: 93%;
  margin-right: 7%;
  padding-right: 10px;
  grid-column: 1/3;
  grid-row: 12/13;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services-button1 {
  margin-left: 7%;
  grid-column: 3/5;
  grid-row: 6/7;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 65px;
  margin-top: 5%;
  border: solid 2px rgb(92, 134, 146);
  background-color: white;
  font-family: 'Manrope', 'Arial', sans-serif;
  color: rgb(20, 20, 20);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  text-align: center;
}

.services-button2 {
  grid-column: 1/3;
  grid-row: 13/14;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 65px;
  margin-top: 5%;
  border: solid 2px rgb(92, 134, 146);
  background-color: white;
  font-family: 'Manrope', 'Arial', sans-serif;
  color: rgb(20, 20, 20);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  text-align: center;
}

.services-img1 {
  height: 100%;
  width: 100%;
  grid-column: 1/3;
  grid-row: 2/8;
  box-shadow: -10px 10px 50px 10px rgba(30, 44, 48, 0.3);
}

.services-img2 {
  height: 100%;
  width: 100%;
  grid-column: 3/5;
  grid-row: 8/14;
  box-shadow: -10px 10px 50px 10px rgba(30, 44, 48, 0.3);
}

.line {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(min-content, max-content) 1fr 42px 72px ;
  grid-template-rows: 30px;
  align-items: end;
}

.line * {
  margin: 0;
}

.dots {
  border-bottom: dashed black;
}

.blue-line {
  border-bottom: solid rgb(155, 183, 191) 1px;
}

/*Блок с отзывами*/

.testimonials .container {
  display: grid;
  grid-template-areas:  "header header"
                        "card1   card2";
  gap: 5%;
}

.testimonials .section-header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card1 {
  grid-area: card1;
  margin-right: 5px;
}

.card2 {
  grid-area: card2;
}

.feedback-card {
  height: 360px;
  display: grid;
  grid-template-columns: fit-content(580px);
  grid-template-rows: 70% 30%;
  background-color: white;
  border: none;
}

.feedback-card>p {
  margin: 8%;
  grid-row: 1/2;
  color: rgb(20, 20, 20);
}

.card-footer {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 33% 1fr 33%;
  justify-content: center;
  align-items: center;
  grid-row: 2/3;
  height: 100%;
  background-color: rgb(30, 44, 48);
}

.card-footer img:first-child {
  width: 85%;
  justify-self: end;
  grid-column: 1/2;
  grid-row: 1/4;
}

.card-footer img:nth-child(2) {
  align-self: end;
  margin: 0 15px;
  grid-column: 2/3;
  grid-row: 1/2;
}

.customer-name {
  margin: 0  15px;
  grid-column: 2/3;
  grid-row: 2/3;
  color: white;
}

.country {
  align-self: start;
  margin: 0  15px;
  grid-column: 2/3;
  grid-row: 3/4;
  color: white;
}

.card-footer img:last-child {
  width: 80%;
  grid-column: 3/4;
  grid-row: 1/4;
}

/*Блок benefits*/

.our-benefits {
  margin-top: 10%;
  margin-bottom: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 20% 40% 40%;
  gap: 10px;
}

.our-benefits p {
  margin-top: 0;
  margin-bottom: 0;
}

.our-benefits .section-header {
  grid-column: 1/4;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.benefits-card1 {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10%;
  margin-right: 15%;
  padding-right: 15%;
}

.benefits-card2 {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10%;
  margin-right: 15%;
  padding-right: 15%;
}

.benefits-card3 {
  grid-column: 3/4;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10%;
  margin-right: 15%;
  padding-right: 15%;
}

.benefits-card4 {
  grid-column: 1/2;
  grid-row: 3/4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10%;
  margin-right: 15%;
  padding-right: 15%;
}

.benefits-card5 {
  grid-column: 2/3;
  grid-row: 3/4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10%;
  margin-right: 15%;
  padding-right: 15%;
}

.benefits-card6 {
  grid-column: 3/4;
  grid-row: 3/4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10%;
  margin-right: 15%;
  padding-right: 15%;
}

/*Блок discount*/

.appointment .container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 30% 20% 20% 20% 10%;
}

.appointment .blue-header {
  margin: 0;
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: end;
  justify-self: start;
}

.appointment-header {
  grid-column: 1/2;
  grid-row: 2/3;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 20%;
  align-self: center;
  justify-self: start;
}

.appointment p:last-of-type {
  grid-column: 1/2;
  grid-row: 3/4;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 20%;
  align-self: start;
  justify-self: start;
}

/*Баннер 50%*/

.discount {
  width: 455px;
  height: 145px;
  grid-column: 1/2;
  grid-row: 4/5;
  margin: 0;
  align-self: start;
  justify-self: start;
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: repeat(4, 25%);
  background: linear-gradient( to right, white 0%, white 65%, rgb(30, 44, 48) 65%, rgb(30, 44, 48) 100%);
}

.discount-frame {
  grid-column: 1/2;
  grid-row: 1/5;
  border: solid rgb(149, 191, 203);
}

.discount p:first-of-type {
  grid-column: 1/2;
  grid-row: 1/2;
  margin-top: 0 ;
  margin-bottom: 0;
  margin-left: 25%;
  align-self: end;
  justify-self: start;
  text-transform: uppercase;
  font-weight: bold;
}

.discount a:first-of-type {
  grid-column: 1/2;
  grid-row: 2/3;
  margin-top: 0 ;
  margin-bottom: 0;
  margin-left: 25%;
  align-self: start;
  justify-self: start;
  color: rgb(85, 85, 85);
}

.discount p:nth-of-type(2) {
  grid-column: 1/2;
  grid-row: 3/4;
  margin-top: 0 ;
  margin-bottom: 0;
  margin-left: 25%;
  align-self: end;
  justify-self: start;
  text-transform: uppercase;
  font-weight: bold;
}

.discount a:nth-of-type(2) {
  grid-column: 1/2;
  grid-row: 4/5;
  margin-top: 0 ;
  margin-bottom: 0;
  margin-left: 25%;
  align-self: start;
  justify-self: start;
  color: rgb(85, 85, 85);
}

.discount p:nth-of-type(3) {
  grid-column: 2/3;
  grid-row: 1/2;
  margin: 0;
  align-self: end;
  justify-self: center;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.discount svg {
  grid-column: 2/3;
  grid-row: 2/4;
  margin: 0;
  align-self: center;
  justify-self: center;
}

.discount p:last-child {
  grid-column: 2/3;
  grid-row: 4/5;
  margin: 0;
  align-self: start;
  justify-self: center;
  color: white;
  font-weight: bold;
}

/*Form*/

.personal-form {
  margin-top: 10%;
  margin-bottom: 10%;
  grid-column: 2/3;
  grid-row: 1/5;
  margin-left: 5%;
  box-shadow: -10px 110px 50px 10px rgba(30, 44, 48, 0.3);
}

.personal-form>form {
  height: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: white;
}

.personal-form input {
  height: 65px;
  width: 65%;
  padding-left: 54px;
  margin-bottom: 5%;
  outline: none;
  border: solid rgb(92, 134, 146) 1px;
  font-family: 'Manrope', 'Arial', sans-serif;
}

input::placeholder {
  color: rgb(85, 85, 85);
}

.personal-form textarea {  
  height: 136px;
  width: 65%;
  margin-bottom: 5%;
  padding-left: 54px;
  padding-top: 1.5em;
  outline: none;
  border: solid rgb(92, 134, 146) 1px;
  font-family: 'Manrope', 'Arial', sans-serif;
  vertical-align: top;
  color: rgb(85, 85, 85);
}

#person {
  background-image: url(../img/User.svg);   
  background-repeat: no-repeat;  
  background-position: 15px;
}

#mail{
  background-image: url(../img/mail.svg);   
  background-repeat: no-repeat;  
  background-position: 15px;
}

#phone{
  background-image: url(../img/phone.svg);   
  background-repeat: no-repeat;  
  background-position: 15px;
}

#book{
  background-image: url(../img/book-open.svg);   
  background-repeat: no-repeat;  
  background-position: 15px;
}

#notes{
  background-image: url(../img/edit.svg);   
  background-repeat: no-repeat;  
  background-position: 15px 1.2em;
}


.button-appointment {
  padding: 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64%;
  height: 65px;
  background-color: rgb(92, 134, 146);
  font-family: 'Manrope', 'Arial', sans-serif;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  background-image: url(".././img/edit.svg");   
  background-repeat: no-repeat;  
  background-position: 4px;
}

/*Блок новостей*/

.blog {
  padding-top: 10%;
  padding-bottom: 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 10% 80% 10%;
  justify-content: center;
}

.blog .section-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 1/4;
  grid-row: 1/2;
}

.blog figure:nth-child(2) {
  grid-column: 1/2;
  grid-row: 2/3;
  justify-self: start;
  margin: 0;
  width: 90%;
  background-color: rgb(237, 245, 247);
}

.blog figure:nth-child(3) {
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: center;
  margin: 0;
  width: 90%;
  background-color: rgb(237, 245, 247);
}

.blog figure:nth-child(4) {
  grid-column: 3/4;
  grid-row: 2/3;
  justify-self: end;
  margin: 0;
  width: 90%;
  background-color: rgb(237, 245, 247);
}

.blog img {
  display: block;
  width: 100%;
}

.blog figcaption {
  overflow: hidden;
  padding: 1em 1em 3em 2em;
}

.stories {
  grid-column: 2/3;
  grid-row: 3/4;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 65px;
  margin-top: 5%;
  border: solid 2px rgb(92, 134, 146);
  background-color: white;
  font-family: 'Manrope', 'Arial', sans-serif;
  color: rgb(20, 20, 20);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  text-align: center;
}

.blue-text {
  color: rgb(92, 134, 146);
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bolder;
}

.blog p {
  margin: 0;
}

.blog h2 {
  margin: 1% 0 5%;
  padding-bottom: 3%;
}

/*Footer*/

.footer-main {
  background-color: rgb(30, 44, 48);
}

.footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr;
  grid-template-rows: 20% 80%;
  align-items: stretch;
  padding-top: 4%;
  padding-bottom: 10%;
}

.footer .container * {
  color:white;
}

.foot-top {
  margin-bottom: 1em;
  padding-bottom: 3%;
  grid-column: 1/5;
  grid-row: 1/2;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: solid white 1px;
}

.foot-logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.foot-logo p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0.5em;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Playfair Display', 'Times New Roman', Times, serif;
}

.foot-social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}

.foot-social>div {
  width: 55px;
  height: 55px;
  margin: 0 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid rgb(92, 134, 146) 2px;
}

.foot-social>div:last-child {
  margin-right: 0;
}

.foot-social>div:first-child{
  margin-left: 0;
}

.column1 {
  grid-column: 1/2;
  grid-row: 2/3;
}

.column2 {
  grid-column: 2/3;
  grid-row: 2/3;
}

.column3 {
  grid-column: 3/4;
  grid-row: 2/3;
}

.column3 .foot-list {
  display: grid;
  grid-template-areas: 'name1 text1'
                        'name2 text2'
                        'name3 text3';
                        gap: 0;
}

.option-name1 {
  grid-area: name1;
  font-weight: bold;
  margin-right: 1em;
}

.option-name2 {
  grid-area: name2;
  font-weight: bold;
  margin-right: 1em;
}

.option-name3 {
  grid-area: name3;
  font-weight: bold;
  margin-right: 1em;
}

.option-text1 {
  grid-area: text1;
}

.option-text2 {
  grid-area: text2;
}

.option-text3 {
  grid-area: text3;
}

.schedule {
  grid-column: 4/5;
  grid-row: 2/3;
  justify-self: end;
}

.foot-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 1rem;
}

.foot-list>a {
  margin: 1em 0;
}

.schedule p {
  margin: 1em 0;
}

.foot-bottom {
  padding: 2% 0;
  grid-column: 1/5;
  grid-row: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(17, 30, 34);
  font-family: 'Manrope', 'Arial', sans-serif;;
  color: white;
  font-size: 1.2rem;
}