@import url("./big-screen.css");

@import url("./tablet.css");

@import url("./mobile.css");

@font-face {
  font-family: 'Playfair Display';
  src: url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
}

@font-face {
  font-family: 'Manrope';
  src: url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');
}
